body {
    font-family: Arial, sans-serif;
    background:linear-gradient(180deg,#e6f7e6, #28a745) ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 900px;
    width: 90%;
    margin: 20px;
    border: 1px solid #ccc;
}

h1 {
    font-size: 24px;
    color: #28a745;
    margin-bottom: 10px;
    text-align: left;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    text-align:left;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
}

button:hover {
    background-color: #218838;
}
.form-container{
    display: flex;
    flex-direction: column;
}

.parent-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 120px;
}
.label-1{
    font-size: 15px;
    font-weight: 500;
}
.form-group input::placeholder,
.form-group textarea::placeholder,.form-group #location {
    color: #28a745;
}